<mat-slide-toggle
    #redOnToggle
    [color]="color"
    [checked]="_settings.colorSettings.redOn"
    (change)="onChange('redOn', redOnToggle.checked)">

  Red Toggle
</mat-slide-toggle>

<mat-slide-toggle
    #greenOnToggle
    [color]="color"
    [checked]="_settings.colorSettings.greenOn"
    (change)="onChange('greenOn', greenOnToggle.checked)">

  Green Toggle
</mat-slide-toggle>

<mat-slide-toggle
    #blueOnToggle
    [color]="color"
    [checked]="_settings.colorSettings.blueOn"
    (change)="onChange('blueOn', blueOnToggle.checked)">

  Blue Toggle
</mat-slide-toggle>
